// variables
$main-display: flex;
$main-align: center;
$main-margin-bottom: 30px;

// mixins
@mixin paragraph-default {
    font-size: 1.5em;
    letter-spacing: normal;
    color: rgb(55, 55, 55);
    margin-bottom: $main-margin-bottom;
}

.content {
    display: $main-display;
    flex-direction: column;
    align-items: $main-align;

    // o formato padrão dos paragrafos
    .main-p-format {
        width: 70vw;
        @include paragraph-default;
    }

    .destaque {
        display: $main-display;
        justify-content: $main-align;
        align-items: $main-align;
        background-color: #D73630;
        width: 50vw;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: $main-margin-bottom;

        p {
            font-size: 1.5em;
            letter-spacing: normal;
            color: black;
            font-weight: bold;
        }
    }

    .slider {
        display: $main-display;
        justify-content: space-between;
        overflow-x: scroll;
        max-width: 70vw;
        margin-bottom: $main-margin-bottom
    }

    .topicos {
        width: 80vw;
        display: $main-display;
        justify-content: space-around;
        margin: 30px 0;
        li {
            display: $main-display;
            flex-direction: column;
            align-items: $main-align;
            width: 350px;

            img {
                width: 2em;
            }

            p {
                font-size: large;
                text-align: center;
            }

        }
    }
}
